
#myHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #EEEEEE; 
  z-index: 100; /* ensure that the header appears on top of other elements */
  padding: 5px; /* add padding to the header to make it more visible */
}

.clickable-container {
  display: flex; /* Use flexbox to arrange the divs in a row */
  justify-content: space-around; /* Add some space between the divs */
  max-width: 50%; /* Set a maximum width for the container to prevent it from taking up too much space */
  margin: 0 auto; /* Center the container horizontally */
}

.clickable1, .clickable2, .clickable3 {
  width: 30%; /* Set the width of each div */
  padding: 10px; /* Add some padding to the divs */
  border: 1px solid black; /* Add a border for visual separation */
  text-align: center; /* Center the text inside each div */
  font-size: 16px; /* Adjust the font size */
  font-family: 'Gill Sans', sans-serif; /* Set the font family */
}

body {
  margin: 0;
}

body {
background: url("resources/background.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.precovid {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(152, 191, 232);
  padding: 10px;
  margin: 10px;
}

.duringcovid {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(62, 95, 130);
  padding: 10px;
  margin: 10px;
}

.postcovid {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(95, 112, 131);
  padding: 10px;
  margin: 10px;
}

.Analysis {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(140, 181, 225);
  padding: 10px;
  margin: 10px;
}

.Summary {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(75, 142, 213);
  padding: 10px;
  margin: 10px;
}

h2 {
  font-family: Georgia, serif;
}

#Typewriter {
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}






